@{
    ViewBag.Title = "Daxx App";
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-combo-box.min.js")
    @Scripts.Render("~/Scripts/app/users-controller.js")
}

<div ng-app="DaxxApp" ng-controller="DaxxCtrl">
    <form name="regForm" class="registration" role="form" accept-charset="utf-8">
        <div class="form-group" ng-class="{ 'has-error' : regForm.country.$invalid }">
            <label>Country</label>
            <combo-box options="countries" class="form-control"
                       combo-model="user.selectedCountry"
                       select-class="{'red': true}"
                       input-class="{'green': true}"
                       label="  Select Country  ">
            </combo-box>    
            <select ng-model="user.selectedCountry"     
                    ng-options="i.name for i in user.selectedCountry.provinces">
                <option value="">  Select Country  </option>
            </select>  
            <p class="help-block" ng-show="regForm.email.$invalid">Country is required field</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : regForm.province.$invalid }">
            <label>Province</label>
            <select ng-model="selectedProvince" class="form-control"
                    ng-options="i.name for i in user.selectedCountry.provinces">
                <option value="">Please select country first</option>
            </select>

            <p class="help-block" ng-show="regForm.province.$invalid">Province is required field</p>
        </div>

        <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="regForm.$invalid" ng-click="save()">Save</button>
    </form>
</div>